<div class="col-md-2">
   <h5 class="bg-light text-center">会員情報編集</h5>
</div>
<div class="container">
   <div class="row">
       <div class="col-md-8">
           <%= form_with model: @customer,url: public_customers_infomasion_path,method: :patch do |f| %>
           <table>
              <thead>
                 <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                 </tr>
              </thead>
              <tbody>
                 <tr>
                  <td><%= f.label:氏名 %></td>
                  <td></td>
                  <td><%= f.text_field :first_name %>
                      <%= f.text_field :last_name %></td>
                 </tr>
                 <tr>
                  <td> <%= f.label:カナ %></td>
                  <td></td>
                  <td><%= f.text_field :first_name_kana %>
                      <%= f.text_field :last_name_kana %></td>
                 </tr>
                 <tr>
                  <td><%= f.label:郵便番号 %></td>
                  <td></td>
                  <td><%= f.text_field:postal_code %></td>
                 </tr>
                 <tr>
                  <td><%= f.label:住所 %></td>
                  <td></td>
                  <td><%= f.text_field:address %></td>
                 </tr>
                 <tr>
                  <td><%= f.label:電話番号 %></td>
                  <td></td>
                  <td><%= f.text_field:telephone_number %></td>
                 </tr>
                 <tr>
                  <td><%= f.label:メールアドレス %></td>
                  <td></td>
                  <td><%= f.text_field:email %></td>
                 </tr>
                 <tr>
                  <td></td>
                  <td></td>
                  <td><%= f.submit '変更を保存',class:'btn btn-sm btn-success' %>
                      <%= link_to '退会する',public_customers_unsubscribe_path,class:'btn btn-sm btn-danger' %></td>
                 </tr>
              </tbody>
           </table>
            <% end %>
       </div>
   </div>
</div>