<div class="col-md-4 text-center">
      <p class="bg-light"><%= @customer.first_name %>
   <%= @customer.last_name %>
  さんの会員情報編集</p>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 offset-md-4">
      <%= form_with model: @customer,url: admin_customer_path,method: :patch do |f| %>
      <table>
        <tr>
        <td><div class="form-group">
        <label>会員ID</label></td>
        <td colspan="2"></td>
        <td><%= @customer.id %></td>
      </div>
        </tr>
      <div class="form-group">
        <tr>
        <td><label>氏名</label></td>
        <td colspan="2"></td>
        <td><%= f.text_field:first_name,autofocus:true %>
        <%= f.text_field:last_name,autofocus:true %></td>
        </tr>
      </div>
      <div class="form-group">
        <tr>
        <td><label>カナ</label></td>
        <td colspan="2"></td>
        <td><%= f.text_field:first_name_kana,autofocus:true %>
        <%= f.text_field:last_name_kana,autofocus:true %></td>
        </tr>
      </div>
      <div class="form-group">
        <tr>
        <td><label>郵便番号</label></td>
        <td colspan="2"></td>
        <td><%= f.text_field:postal_code,autofocus:true %></td>
        </tr>
      </div>
      <div class="form-group">
        <tr>
        <td><label>住所</label></td>
        <td colspan="2"></td>
        <td><%= f.text_field:address,autofocus:true %></td>
        </tr>
      </div>
      <div class="form-group">
        <tr>
        <td><label>電話番号</label></td>
        <td colspan="2"></td>
        <td><%= f.text_field:telephone_number,autofocus:true %></td>
        </tr>
      </div>
      <div class="form-group">
        <tr>
        <td><label>メールアドレス</label></td>
        <td colspan="2"></td>
        <td><%= f.text_field:email,autofocus:true %></td>
        </tr>
      </div>
      <div class="form-group">
        <tr>
        <td><label>会員ステータス</label></td>
        <td colspan="2"></td>
        <td>
          <%= f.radio_button :is_deleted,false %>
          <%= f.label :is_deleted,'有効',value:false %>
          <%= f.radio_button :is_deleted,true %>
          <%= f.label :is_deleted,'退会',value:true %>
        </td>
      </div>
        </tr>
        <tr>
          <td><%= f.submit '変更を保存',class:'btn btn-sm btn-success' %>
          </td>
        </tr>

      <% end %>
      </table>
    </div>
  </div>
</div>