<div class="coi-md-1">
   <h5 class="bg-light">配送先編集</h5>
</div>
<%= form_with model: @destination,url: edit_public_destination_path(@destination) do |f| %>

<div class="container">

<div class="row">
  <div class="col-md-10">
    <label for="field">
      <%= f.label:郵便番号（ハイフンなし）　%>
      <%= f.text_field:postal_code %>
    </label>

    <label for="field">
      <%= f.label:住所　%>
      <%= f.text_field:address %>
    </label>

    <label for="field">
      <%= f.label:宛名　%>
      <%= f.text_field:name %>
      <%= f.submit '変更内容を保存',class:'btn btn-sm btn-success' %>
    </label>
  </div>

</div>