
<div class="container">
  <div clas="row">
    <div class="col-md-2 text-center">
       <h5 class="bg-light">ログイン</h5>
    </div>

    <p>会員の方はこちらからログイン</p>
    <%= form_with model: @customer,url: customer_session_path do |f| %>
      <div class="field">
        <%= f.label :メールアドレス %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :パスワード %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン",class:"btn btn-sm btn-primary" %>
      </div>
    <% end %>

    <p class="bg-light">会員登録がお済みでない方</p>
    <p><%= render "public/shared/links" %> から新規登録を行なってください。</p>
</div>


