<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/0fcbfc5bc0.js" crossorigin="anonymous"></script>
    <title>Naganocake</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content ="width=device-width,intial-scal=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand p-3" href="/">
            <span>naganocake</span>
          </a>

          <ul class ="navbar-nav ml-auto">
            <li class ="nav-item">
            <%= link_to "About",public_about_path %>
            </li>
            <li class ="nav-item">
            <%= link_to "商品登録",new_admin_item_path %></li>
            <li class ="nav-item">
            <%= link_to "新規登録",new_customer_registration_path %>
            </li>
            <li class ="nav-item">
            <%= link_to "ログイン",customer_session_path %>
            </li>

            <% if customer_signed_in? %>
            <li class ="nav-item">商品一覧
            <%= link_to admin_items_path %>
            </li>
            <li class ="nav-item">会員一覧</li>

            <li class ="nav-item">注文履歴一覧</li>
            <li class ="nav-item">ジャンル一覧</li>
            <li class ="nav-item">ログアウト
              <%= link_to destroy_customer_session_path,method: :delete,class:"nav-link" do %>
                 Log out
              <% end%>
            </li>
          </ul>

            <% end %>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
